.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}


.traffic-light {
    width: 100px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.5s;
    opacity: 0.3;
  }
  
  .light.red.active {
    background-color: red;
    box-shadow: 0 0 10px red;
    opacity: 1;
  }
  
  .light.yellow.active {
    background-color: yellow;
    box-shadow: 0 0 10px yellow;
    opacity: 1;
  }
  
  .light.green.active {
    background-color: green;
    box-shadow: 0 0 10px green;
    opacity: 1;
  }

  .light.purple.active{
    background-color: purple;
    box-shadow: 0 0 10px purple;
    opacity: 1;
  }



.red{
  background-color: red;
}
 
.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}

.btn {
margin-top: 20px;
margin-right: 10px;
}

.purple{
  background-color: purple;
}